{
    auto_https off
}

http://helpdesk.acehcs.in {
    reverse_proxy 127.0.0.1:3000 {
        header_up X-Forwarded-Proto https
    }
}

http://ticketing.acehcs.in {
    redir https://helpdesk.acehcs.in{uri} permanent
}

http://hr.acehcs.in {
    reverse_proxy 127.0.0.1:3000
}

http://acetrack.acehcs.in {
    reverse_proxy 127.0.0.1:3001
}